<div class="page">
    <div class="divided title">
        Confirmation
    </div>
    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form">
                <div class="divided title">Basic Details</div>
                <fieldset ng-disabled="pastConfirmation">
                    <div class="field">
                        <label> What's your phone number? (required) </label>
                        <p>
                            We need this in case we need to get ahold of you!
                        </p>
                        <label><input type="tel" name="phone" ng-model="user.confirmation.phoneNumber"
                                      placeholder="(171) - 123 - 123" required>
                        </label>
                    </div>
                    <div class="field">
                        <label> Dietary Restrictions </label>
                        <p>
                            If your restriction is not included here, please let us know in the additional notes at the
                            bottom.
                        </p>
                        <p>
                            We'll make sure you get fed :)
                        </p>
                    </div>
                    <div class="inline fields">
                        <div class="field" ng-repeat="(key, value) in dietaryRestrictions">
                            <div class="ui checkbox">
                                <input type="checkbox" ng-model="dietaryRestrictions[key]"/>
                                <label>{{key}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label> Shirt Size (required) </label>
                        <p>Let's get you some swag!</p>
                        <select name="shirt" ng-model="user.confirmation.shirtSize" required>
                            <option value="">Shirt Size</option>
                            <option value="XS">Unisex X-Small</option>
                            <option value="S">Unisex Small</option>
                            <option value="M">Unisex Medium</option>
                            <option value="L">Unisex Large</option>
                            <option value="XL">Unisex X-Large</option>
                            <option value="XXL">Unisex XX-Large</option>
                            <option value="WXS">Women's X-Small</option>
                            <option value="WS">Women's Small</option>
                            <option value="WM">Women's Medium</option>
                            <option value="WL">Women's Large</option>
                            <option value="WXL">Women's X-Large</option>
                            <option value="WXXL">Women's XX-Large</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Will you be needing technician?</label>
                        <div class="ui checkbox">
                            <label>
                                <input type="checkbox" ng-model="user.confirmation.wantsHardware">
                            </label>
                            <label> Yes, I would like to use technician in my hack. </label>
                        </div>
                    </div>
                    <div class="field" ng-show="user.confirmation.wantsHardware">
                        <label>
                            What kind of technician would be useful for you?
                        </label>
                        <p>
                            We will have a technician checkout, and we'll try our best to provide things that would be
                            useful to you - however, we can't guarantee everything. We will publish a list of available
                            technician closer to the day of the event.
                        </p>
                        <label>
                            <input type="text" ng-model="user.confirmation.hardware">
                        </label>
                    </div>
                    <br>
                    <br>
                    <div class="divided title"> Skills & Accomplishments</div>
                    <div class="field">
                        <label> What are you studying? </label>
                        <label>
                            <input type="text" name="study"
                                   placeholder="Computer Science, Product Design, Basket Weaving, etc."
                                   ng-model="user.confirmation.major">
                        </label>
                    </div>
                    <div class="field">
                        <label> gitlab </label>
                        <label>
                            <input type="text" name="gitlab" placeholder="" ng-model="user.confirmation.gitlab">
                        </label>
                    </div>
                    <br>
                    <br>
                    <div ng-show="user.confirmation.hostNeededFri || user.confirmation.hostNeededSat">
                        <div class="field">
                            <div class="ui checkbox">
                                <label>
                                    <input type="checkbox" ng-model="user.confirmation.genderNeutral">
                                </label>
                                <label> I would be okay with gender neutral housing. </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui checkbox">
                                <label>
                                    <input type="checkbox" ng-model="user.confirmation.smokingFriendly">
                                </label>
                                <label> I would be okay in housing with smoking-friendly policies. </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui checkbox">
                                <label>
                                    <input type="checkbox" ng-model="user.confirmation.catFriendly">
                                </label>
                                <label> I would be okay in housing that has cats. Meow! </label>
                            </div>
                        </div>
                        <div class="field">
                            <label>
                                Let us know if there's anything else we should know about matching you with a host.
                            </label>
                            <label>
                                <textarea name="hostNotes" ng-model="user.confirmation.hostNotes"></textarea>
                            </label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="divided title">Legal</div>
                    <div class="field">
                        <label> Liability Waiver </label>
                        <p>
                            For legal reasons, our university asks that you read and accept the terms of our liability
                            waiver. Again, as we mentioned in the original lottery application - you <strong>
                            must </strong> be 18 years or older or an WHZ undergraduate by the day of the event, or
                            <strong> we will refuse you admission at the door. We will be checking ID. </strong>
                        </p>
                        <p>
                            By writing my name below, I affirm that I have read and accepted the terms of the liability
                            waiver above, and will be either an WHZ undergraduate or 18 years or older at the time of
                            the event.
                        </p>
                        <label>
                            <input type="text" name="signatureLiabilityWaiver" placeholder="Your Full Legal Name"
                                   ng-model="user.confirmation.signatureLiability">
                        </label>
                    </div>
                    <div class="field">
                        <label> Photo Release </label>
                        <p>
                            Signing this photo release means if we take photos or photos of you, we can share it with
                            the world.
                        </p>
                        <p>
                            By writing my name below, I affirm that I have read and accepted the terms of the photo
                            release above.
                        </p>
                        <label>
                            <input type="text" name="signaturePhotoRelease" placeholder="Your Full Legal Name"
                                   ng-model="user.confirmation.signaturePhotoRelease">
                        </label>
                    </div>
                    <div class="field">
                        <label> Code of Conduct </label>
                        <p>
                            It is extremely important to us that attendees follow a set of guidelines to make the event
                            fun for everyone involved. Please read through and make sure you understand what we will be
                            expecting of you.
                        </p>
                        <p>
                            By writing my name below, I affirm that I have read and will abide by the code of conduct
                            detailed above.
                        </p>
                        <label>
                            <input type="text" name="signatureCodeOfConduct" placeholder="Your Full Legal Name"
                                   ng-model="user.confirmation.signatureCodeOfConduct">
                        </label>
                    </div>
                    <br>
                    <br>
                    <div class="divided title">everything else</div>
                    <div class="field">
                        <label>
                            Additional Notes
                        </label>
                        <p>
                            If there's anything else you need to let us know, tell us here!
                        </p>
                        <label>
                            <textarea ng-model="user.confirmation.notes"></textarea>
                        </label>
                    </div>
                    <div class="field" ng-hide="regIsClosed">
                        <button type="submit"
                                class="fluid ui purple button"
                                ng-click="submitForm()">
                            Submit
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
