doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title *|MC:SUBJECT|*
    style
      include style.css
  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0')
    center
      table#bodyTable(align='center', border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
        tbody
          tr
            td#bodyCell(align='center', valign='top')
              table#templateContainer(border='0', cellpadding='0', cellspacing='0')
                tbody
                  tr
                    td(align='center', valign='top')
                      table#templateHeader(border='0', cellpadding='0', cellspacing='0', width='100%')
                        tbody
                          tr
                            td.headerContent(valign='top')
                              img#headerImage(src=emailHeaderImage, style='max-width:600px;', mc:label='header_image', mc:edit='header_image', mc:allowdesigner='', mc:allowtext='')
                  tr
                    td(align='center', valign='top')
                      table#templateBody(border='0', cellpadding='0', cellspacing='0', width='100%')
                        tbody
                          tr
                            td.bodyContent(valign='top', style='text-align: center', mc:edit='body_content00')
                              h1 #{title}
                              h3 #{subtitle}
                              |                                                 #{body}
                          tr
                            td.bodyContent(valign='top', style='text-align: center', mc:edit='body_content00')
                              | Thanks,
                              br
                              |                                               The #{hackathonName} Team
                  tr
                    td(align='center', valign='top')
                      table#templateFooter(border='0', cellpadding='0', cellspacing='0', width='100%')
                        tbody
                          tr
                            td.footerContent(valign='top', mc:edit='footer_content00')
                              a(href='https://twitter.com/' + twitterHandle) Follow on Twitter
                              a(href='https://facebook.com/' + facebookHandle) Like on Facebook
                              a(href='mailto:' + emailAddress) Email Us
                          tr
                            td.footerContent(valign='top', style='padding-top:0;', mc:edit='footer_content01')
                              em Copyright © #{hackathonName} 2019, All rights reserved.
                              br