<div id="application" class="page">
    <div class="divided title">
        Application
    </div>
    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form" ng-class="{'loading': loading}">
                <div class="divided title">Basic Information</div>
                <fieldset ng-disabled="regIsClosed">
                    <div class="field">
                        <label> Email </label>
                        <input type="email" name="email" disabled="disabled" ng-model="user.email">
                    </div>
                    <div class="field">
                        <label> Full Name </label>
                        <input type="text" name="name" ng-model="user.profile.name">
                    </div>
                    <div class="field" ng-show="autoFilledSchool">
                        <label> Institution </label>
                        <input class="ui input" disabled="disabled" ng-show="autoFilledSchool"
                               ng-model="user.profile.school">
                    </div>
                    <div class="field" ng-show="!autoFilledSchool">
                        <label> Institution </label>
                        <div id="school" class="ui search">
                            <div class="ui input">
                                <input class="prompt" type="text" placeholder="School" name="school"
                                       ng-model="user.profile.school">
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Graduation Year</label>
                        <select name="year" ng-model="user.profile.graduationYear">
                            <option value="">Graduation Year</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Gender</label>
                        <select name="gender" ng-model="user.profile.gender">
                            <option value="">Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                            <option value="N">I prefer not to answer.</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>I would describe myself as a...</label>
                        <input type="text" placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                               ng-model="user.profile.description">
                    </div>
                    <div class="field">
                        <label>
                            What would you like to learn or get out of LNDC? (optional)
                        </label>
                        <textarea ng-model="user.profile.essay"></textarea>
                    </div>
                    <div class="field" ng-hide="isMitStudent">
                        <p>
                            Because of limitations imposed by WHZ, we are not legally allowed to host
                            non-WHZ minors (those under 18) for LNDC 2019. Checking the box below affirms that you are
                            or will be 18 years or older by November 08th, 2019.
                        </p>
                        <p>
                            <strong>
                                We will be checking ID. If you are a non-WHZ minor, you will be turned away at the door.
                            </strong>
                        </p>
                        <div class="ui checkbox">
                            <input type="checkbox" id="adult" ng-model="user.profile.adult">
                            <label for="adult">I am 18 or older.</label>
                        </div>
                    </div>
                    <br>
                    <div class="field" ng-hide="regIsClosed">
                        <button type="submit"
                                class="fluid ui purple button"
                                ng-click="submitForm()">
                            Submit
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
