<div class="ui top attached segment">
    <div class="ui header">
        {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
        <span ng-show="selectedUser.admin">
      (Admin)
    </span>
    </div>
</div>
<div class="ui botom attached segment">
    <div>
        <p>
            <strong> Status: </strong>
            <span class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
        </p>
        <p>
            <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
        </p>
    </div>
    <div class="ui divider"></div>
    <div class="ui form">
        <fieldset ng-disabled="false">
            <div class="ui header">
                Basic Info
            </div>
            <div class="field">
                <strong>
                    Created on:
                </strong>
                {{formatTime(selectedUser.timestamp)}}
            </div>
            <div class="field">
                <strong>
                    Last Updated:
                </strong>
                {{formatTime(selectedUser.lastUpdated)}}
            </div>
            <div class="field">
                <label> Email </label>
                <label>
                    <input type="text" ng-model="selectedUser.email"/>
                </label>
            </div>
            <div class="field">
                <label> Team </label>
                <label>
                    <input type="text" ng-model="selectedUser.teamCode"/>
                </label>
            </div>
        </fieldset>
    </div>
    <div class="ui divider"></div>
    <div class="ui form">
        <fieldset ng-disabled="false">
            <div class="ui header">
                Profile
            </div>
            <div class="field">
                <label> Email </label>
                <label>
                    <input type="email" name="email" disabled="disabled" ng-model="selectedUser.email">
                </label>
            </div>
            <div class="field">
                <label> Full Name </label>
                <label>
                    <input type="text" name="name" ng-model="selectedUser.profile.name">
                </label>
            </div>

            <div class="field" ng-show="autoFilledSchool">
                <label> Institution </label>
                <label>
                    <input class="ui input" disabled="disabled" ng-show="autoFilledSchool"
                           ng-model="selectedUser.profile.school">
                </label>
            </div>
            <div class="field" ng-show="!autoFilledSchool">
                <label> Institution </label>
                <label>
                    <input class="ui input" name="school" ng-model="selectedUser.profile.school">
                </label>
            </div>
            <div class="field">
                <label>Graduation Year</label>
                <label>
                    <select name="year" ng-model="selectedUser.profile.graduationYear">
                        <option value="">Graduation Year</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                    </select>
                </label>
            </div>
            <div class="field">
                <label>Gender</label>
                <label>
                    <select name="gender" ng-model="selectedUser.profile.gender">
                        <option value="">Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                        <option value="N">I prefer not to answer.</option>
                    </select>
                </label>
            </div>

            <div class="field">
                <label>I would describe myself as a...</label>
                <label>
                    <input type="text" placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                           ng-model="selectedUser.profile.description">
                </label>
            </div>
            <div class="field">
                <label>
                    What would you like to learn or get out of LNDC? (optional)
                </label>
                <textarea ng-model="selectedUser.profile.essay">
        </textarea>
            </div>
            <div class="field"
                 ng-hide="isMitStudent">
                <p>
                    Because of limitations imposed by WHZ, we are not legally allowed to host
                    non-WHZ minors (those under 18) for LNDC 2019. Checking the box below affirms that you are or will
                    be 18 years or older by November 08th, 2019.
                </p>
                <p>
                    <strong>
                        We will be checking ID. If you are a non-WHZ minor, you will be turned away at the door.
                    </strong>
                </p>
                <div class="ui checkbox">
                    <input type="checkbox" id="adult" ng-model="selectedUser.profile.adult">
                    <label for="adult">I am 18 or older.</label>
                </div>
            </div>

            <div class="field">
                <div ng-click="updateProfile()" class="ui positive right labeled icon button">Update Profile
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="ui divider"></div>
    <div class="ui form">
        <fieldset ng-disabled="false">
            <div class="ui header">Confirmation</div>
            <div class="field">
                <label> Phone </label>
                <label>
                    <input type="tel" ng-model="selectedUser.confirmation.phoneNumber"/>
                </label>
            </div>
            <div class="field">
                <label> Dietary Restrictions </label>
                <label>
                    <input type="text" ng-model="selectedUser.confirmation.dietaryRestrictions"/>
                </label>
            </div>

            <div class="field">
                <label> Shirt Size </label>
                <label>
                    <input type="text" ng-model="selectedUser.profile.shirtSize"/>
                </label>
            </div>

            <div class="field">
                <label> Major </label>
                <label>
                    <input type="text" ng-model="selectedUser.profile.major"/>
                </label>
            </div>

            <div class="field">
                <label> gitlab </label>
                <label>
                    <input type="url" ng-model="selectedUser.profile.gitlab"/>
                </label>
            </div>

            <div class="field">
                <label> Website </label>
                <label>
                    <input type="url" ng-model="selectedUser.profile.website"/>
                </label>
            </div>

            <div class="field">
                <label> Resume </label>
                <label>
                    <input type="url" ng-model="selectedUser.profile.resume"/>
                </label>
            </div>

            <div class="ui divider"></div>

            <div class="field">
                <label>
                    Needs Hardware
                </label>
                <div class="ui checkbox">
                    <label>
                        <input type="checkbox" ng-model="selectedUser.confirmation.wantsHardware">
                    </label>
                    <label> Yup, I need hardware </label>
                </div>
            </div>

            <div class="field">
                <label>
                    Hardware
                </label>
                <label>
                    <input type="text" ng-model="selectedUser.confirmation.hardware">
                </label>
            </div>

            <div class="ui divider"></div>

            <div class="ui divider"></div>

            <div class="field">
                <label> Additional Notes </label>
                <label>
                    <textarea ng-model="selectedUser.confirmation.notes"></textarea>
                </label>
            </div>
        </fieldset>
    </div>
</div>