<div id="admin" class="page">
    <div class="divided title">
        ADMIN MODE
    </div>
    <div class="ui three item menu">
        <a class="item" ui-sref="app.admin.stats" ui-sref-active="active">
            Stats
        </a>
        <a class="item" ui-sref="app.admin.users" ui-sref-active="active">
            Users
        </a>
        <a class="item" ui-sref="app.admin.settings" ui-sref-active="active">
            Settings
        </a>
    </div>
    <ui-view></ui-view>
</div>
