$primary: #473899;
$secondary: #473899;
$tertiary: #4c82cc;

$login-bg: url('https://lh5.googleusercontent.com/proxy/DibXNWQcRjUjNdK1KPVilAkMdIc07O_cXSB2eg6AHVsumApPk02oh0YPPsxbOI1ERT9Gs8JxYCssAJBy4Z8NQB_0Wj39Ra5dm1w7a--t5w=w3840-h2160-p-k-no-nd-mv');

/**$login-bg: url('https://pbs.twimg.com/media/DUf6ZkKX4AI6dMK.jpg');*/
