#login {
  height: 100%;
  width: 100%;
  background: $login-bg-color;
  background-size: cover;

  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .logo {
        max-width: 235px;
        margin: .5rem auto 1rem auto;

        img {
          width: 236px;
          height: 32px;
        }
      }

      .button {
        color: white;

        &.login {
          background: $login-color;
        }

        &.register {
          background: $register-color
        }
      }

      .forgot {
        text-align: center;
      }

    }
  }

}
