.verify.page {
  padding-top: 4em;

  .segment {
    padding: 36px;
    padding-top: 70px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    .icon {
      font-size: 5em;
      margin-bottom: 36px;
    }
  }
}